<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vote Service OAuth2 Code Grant Success Placeholder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400&display=swap" rel="stylesheet">
    <style>
      body {
        align-content: center;
        text-align: center;
      }
      hr {
        color: transparent;
      }
      span {
        font-size: 1.5em;
      }
      h1 {
        font-size: 3em;
      }
      .code {
        font-family: 'JetBrains Mono', monospace;
        font-weight: 200;
        color: #fefefe;
        background: #1c1c1c;
        outline: black 2px;
        padding: 0.1em 0.2em 0.1em 0.2em;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <h1>This is success page placeholder</h1>
    <span>You see this page cause you didn't specify redirect url in your previous request</span><hr/>
    <span>You can still get your OAuth2 grant code from </span><span class="code">code</span><span> query parameter</span>
  </body>
</html>